<div class="content text-center">

    <div class="card">
        <h3>
            <u><b>Imli Candy pack of 400 Grams</b></u>
        </h3>
        <div class="ilustration">
            <img id="cardImg" src="../../assets/images/imli.jpg" height="300" width="300" alt="imli">
            <div class="table">
                <table style="width:100%">
                    <tr>
                        <th>Nutritional Information</th>
                        <th>Per 100 g</th>
                        <th>Per Candy (of 6.7 g)</th>
                    </tr>
                    <tr>
                        <td>Energy</td>
                        <td>393 Kcal</td>
                        <td>26.2 Kcal</td>

                    </tr>
                    <tr>
                        <td>Protein</td>
                        <td>1.6 g</td>
                        <td>0.1 g</td>

                    </tr>
                    <tr>
                        <td>Fat</td>
                        <td>1.6 g</td>
                        <td>0.1 g</td>

                    </tr>
                    <tr>
                        <td>Carbohydrate</td>
                        <td>93.0 g</td>
                        <td>6.2 g</td>

                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>