.content {
    font-family: 'Hind Madurai', sans-serif;
    height: 100%;
    background-image: url('../../assets/images/ProductsBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

#cardImg {
    border-radius: 40px;
    float: left;
}

.card {
    background-color: #eceff1;
    border-radius: 30px;
    max-width: 70%;
    margin: 70px auto;
    color: BLACK;
    padding: 10px;
}

.table {
    max-width: 55%;
    position: relative;
    float: right;
    top: 50px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    display: contents;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),
td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.table td, .table th {
    border-top: 1px solid black !important;
}

@media only screen and (max-width:992px) {
    .illustration{
        display: grid;
    }
    #cardImg {
        height: 150px;
        width: 150px;
    }
}