@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.content{
    background-image: url('../../assets/images/HomeBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#tagline{
    padding-top: 3%;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 55px;
    text-decoration: underline overline;
}

#logo{
    margin-top: 110px;
}

.introText{
    width: 50%;
    display: inline-block;
    margin-top: 6px;
    font-size: 17px;
    font-weight: 500;
}