<div class="content text-center">
    <img id="logo" src="../../assets/images/logo.png" height="200" width="300">
    <h1 id="tagline">Delighting your taste buds!</h1>

    <div class="introText">
        <p>
            This venture was started in 2018 by a seasoned food & beverage entrepreneur with more than 25 years
            of experience to serve consumers with healthy and pure products. Looking at the potential of business
            two more individuals joined the business later in 2022 as co-owners.
        </p>
        <p>
            The current manufacturing facility can produce close to 120 kg of candies every day (3600 kg per month
            or 43000 kg per year). The facility is undergoing expansion to meet the demand of consumers. After
            expansion, the facility will have a capacity of close to 4000 kg of candies every day (12000 kg per month
            or 1.4 Lakh kg per year).
        </p>
        <p>
            We are also working to introduce many more offerings to delight our consumers.
        </p>
    </div>
</div>