<div class="content text-center">
    <img id="logo" src="../../assets/images/logo_black.png" height="200" width="300">
    <h1 id="tagline">Delighting your taste buds!</h1>

    <div class="introText">
        <p>
            Welcome to Lemon Chatka, where we are dedicated to sharing the authentic flavors of our region with
            everyone. Our products are crafted using only pure and natural ingredients, completely free from any
            additives. Following the principles of Ayurveda, we create products that offer numerous health benefits. Our
            commitment to the tradition of crafting excellent candies is unwavering!
        </p>
        <p>
            Do you remember the joy of enjoying your favorite imly candy as a child? Perhaps you have children of your
            own who appreciate unique and hard-to-find treats. Our imly candy is sure to evoke a sense of nostalgia. As
            we expand our range, we aim to introduce a multitude of flavors that cater to the diverse tastes of the new
            India, all while honoring our Indian heritage. Stay connected with us to delight your taste buds and embark
            on a culinary journey."
        </p>
    </div>
</div>