<div class="content text-center">
    <div class="about-content">
        <p style="padding-top: 170px;">
            Here at Lemon Chatka, we pride ourselves in bringing the regional flavors to the masses. Our products
            are strictly made from pure play ingredients without any additives. We follow the principles of Ayurveda
            and prepare products which have umpteen health benefits. We strictly believe in the tradition of candy
            excellence!
        </p>
        <p style="padding-top: 20px;">
            Do you recall your favorite imly candy when you were a kid? Do you have kids of your own who like
            unusual or hard-to-find confections? Chances are, our imly candy will make you nostalgic. We are
            expanding our range to bring multitude of tastes for the new India with the legacy of our Indian roots!
            So, stay connected to delight your Taste Buds
        </p>
    </div>
</div>