@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');;

.content {
    font-family: 'Hind Madurai', sans-serif;
    background-image: url('../../assets/images/AboutBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Pangolin', cursive;
    line-height: 1.4;
}

p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 0.9;
}

.about-content {
    width: 55%;
    padding: 10px;
}

.about-content p{
    line-height: 1.4;
    border: 2px solid #7382d1;
    border-radius: 15px;
    padding: 10px 15px;
    background: linear-gradient(90deg, rgb(2 1 22) 0%, rgb(35 48 141) 30%, rgb(107 134 143 / 91%) 100%, rgba(139,202,215,1) 100%);
}

.promoters{
    line-height: 1.4;
    text-align: justify;
    font-size: 18px;
    color: whitesmoke;
    border: 2px solid #7382d1;
    border-radius: 15px;
    padding: 10px 15px;
    background: linear-gradient(90deg, rgb(2 1 22) 0%, rgb(35 48 141) 30%, rgb(107 134 143 / 91%) 100%, rgba(139,202,215,1) 100%);
}

@media only screen and (max-width: 896px) {
    .about-content {
        width: 100%;
    }
}