<div class="content text-center">
    <div class="about-content">
        <p style="padding-top: 170px;">
            Here at Lemon Chatka, we pride ourselves in bringing the regional flavors to the masses. Our products
            are strictly made from pure play ingredients without any additives. We follow the principles of Ayurveda
            and prepare products which have umpteen health benefits. We strictly believe in the tradition of candy
            excellence!
        </p>
        <p style="padding-top: 20px;">
            Do you recall your favorite imly candy when you were a kid? Do you have kids of your own who like
            unusual or hard-to-find confections? Chances are, our imly candy will make you nostalgic. We are
            expanding our range to bring multitude of tastes for the new India with the legacy of our Indian roots!
            So, stay connected to delight your Taste Buds
        </p>
        <div class="promoters">
            <u><i><b>Promoters:</b></i></u>
            <ol>There are 3 promoters in this business:
                <li><b>Shafikul Amir</b>: Seasoned entrepreneur with close to 25 Years of experience in food manufacturing
                </li>

                <li><b>Shashwat Srivastava</b>: Management graduate in finance with more than 10 years of experience in
                    Investment Evaluation, Management Consulting, Mergers & Acquisition and other areas of
                    Corporate Finance</li>

                <li><b>Anubhav Srivastava</b>: An IT engineering graduate working at Amazon with close to 10 years of
                    experience in DevOPS, Python, Networking and other areas of IT.</li>
            </ol>
        </div>

    </div>
</div>