<div class="content justify-content-around">
    <div class="about-content">
        <p style="margin-top: 70px;">
            This venture was initiated in 2018 by an experienced food and beverage entrepreneur who boasts
            over 25 years of industry expertise. The primary goal was to cater to consumers seeking wholesome
            and untainted products. Recognizing the business's potential, two additional individuals joined
            as co-owners in 2022.
        </p>
        <p style="padding-top: 20px;">
            Presently, our manufacturing facility has the capability to produce approximately 120 kg of
            candies daily, equivalent to 3,600 kg per month or 43,000 kg per year. To meet the increasing
            consumer demand, we are currently expanding our facility. Once the expansion is complete, our
            production capacity will soar to nearly 4,000 kg of candies daily, translating to 12,000 kg per
            month or an impressive 140,000 kg per year.
        </p>
        <p>
            Furthermore, we are dedicated to introducing an array of new offerings to captivate and
            satisfy our valued consumers.
        </p>
        <div class="promoters">
            <u><i><b>Promoters:</b></i></u>
            <ol>This business is fortunate to have three individuals with diverse and valuable backgrounds
                serving as its promoters:
                <li><b>Shafikul Amir</b>: With nearly 25 years of experience in food manufacturing, Shafikul
                    Amir brings a wealth of expertise to the table. As a seasoned entrepreneur, he has
                    demonstrated his ability to navigate the intricacies of the industry successfully.
                    His extensive knowledge of food manufacturing processes and practices will be instrumental
                    in ensuring the business's success in this sector.
                </li>

                <li><b>Shashwat Srivastava</b>: As a management graduate specializing in finance, Shashwat
                    Srivastava brings over 10 years of experience in various areas of corporate finance. His
                    expertise in investment evaluation, management consulting, and mergers and acquisitions
                    will play a crucial role in shaping the financial strategies of the business. Shashwat's
                    insights and financial acumen will contribute to the company's growth and profitability.</li>

                <li><b>Anubhav Srivastava</b>: an IT engineering graduate with nearly 10 years of experience working
                    at Amazon, adds a valuable technological perspective to the business. His proficiency in DevOps,
                    Python programming, networking, and other areas of IT will prove invaluable in streamlining
                    operations, optimizing efficiency, and leveraging technological advancements. Anubhav's expertise
                    will help the company stay at the forefront of technological innovation within the industry.</li>
            </ol>
            <p>
                Together, this diverse group of promoters combines their extensive experience in food manufacturing, corporate
                finance, and IT to create a well-rounded and capable team. Their collective skills and knowledge will enable
                the business to thrive in a competitive market and adapt to changing industry trends.
            </p>
        </div>

    </div>
</div>