<div class="content">
    <form action="mail_handler.php" method="post" name="form" [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()">
        <div class="form">
            <h1>Get in touch</h1>
            <div class="flex-container">
                <div class="flex-left">
                    <div class="input-container ic2">
                        <input class="input" id="Name" name="name" type="email" formControlName="Name" placeholder=" ">
                        <div class="cut cut-short"></div>
                        <label for="Name" class="placeholder">Name</label>
                    </div>
                    <div class="input-container ic2">
                        <input class="input" id="phone" name="phone" type="text" formControlName="phone" placeholder=" ">
                        <div class="cut"></div>
                        <label for="phone" class="placeholder">Phone No.</label>
                    </div>
                    <div class="input-container ic2">
                        <input class="input" id="email" name="email" type="email" formControlName="email" placeholder=" ">
                        <div class="cut cut-short"></div>
                        <label for="email" class="placeholder">Email</label>
                    </div>
                    <div class="input-container ic2">
                        <textarea name="msg" class="input" id="message" type="text" formControlName="message"
                            placeholder=" "></textarea>
                        <div class="cut"></div>
                        <label for="message" class="placeholder">Message</label>
                    </div>
                    <button type="text" class="submit">Submit</button>
                </div>
                <div class="verticalLine"></div>
                <div class="flex-right">
                    <h2><u><b>Address</b></u></h2>

                    <address>
                        <i> Lemon Chatka LLP, <br>
                            Plot No.30, Kh No.414, <br>
                            BKT, Lucknow (U.P.) <br>
                        </i>
                    </address>

                    <p><i class="fa-solid fa-envelope"></i> lemonchatka@gmail.com</p>

                    <p><i class="fa-solid fa-phone"></i>+91 8542919064</p>
                    <p><i class="fa-solid fa-phone"></i>+91 8588800520</p>
                    <div class="social-media">
                        <a target="_blank"
                            href="https://www.facebook.com/profile.php?id=100090700180268&mibextid=ZbWKwL">
                            <i class="fa-brands fa-facebook"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/lemon-chatka/">
                            <i class="fa-solid fa-user"></i></a>
                    </div>


                    <div class="sales">
                        <p>
                            For any Sales query, we can be approached at the below co-ordinates: <br>
                            Email: lemonchatka@gmail.com <br>
                            Mob: 8542919064, 8588800520 <br>
                            We are also on <a target="_blank" href="https://imart.page.link/vm2Ed">India Mart</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>