.content {
    font-family: 'Hind Madurai', sans-serif;
    height: 100%;
    background-image: url('../../assets/images/ContactBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

h1 {
    color: white;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: -33px;
    position: relative;
}

.flex-left {
    width: 50%;
}

.flex-right {
    width: 50%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: rgb(255, 145, 0);
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    background-color: transparent;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 62px;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

#message {
    height: 80px;
}

.verticalLine {
    height: 300px;
    border-right: 2px solid white;
    position: absolute;
    right: 47%;
    top: 41px;
}

.social-media>a{
    padding: 10px;
    font-size: 20px;
}

.sales{
    padding-left: 12%;
    padding-top: 30px;
}